.mainBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nameBlock{
    width: 100%;
    height: 70px;
    border: 2px solid red;
    background-color: rgb(120, 120, 207);
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    width: 80%;
    height: 45px;
    background-color: aqua;
    border: 2px solid red;
}
.fotoBlock{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.foto{
    width: 29%;
    height: 200px;
    border: 2px solid red;
    background-color: rgb(120, 120, 207);
}
.firstBlock{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: 2px solid red;
    background-color: rgb(120, 120, 207);
}
.picture{
    width: 30%;
    height: 110px;
    background-color: aqua;
    border: 2px solid red;
}
.secondBlock{
    width: 100%;
    height: 250px;
    border: 2px solid red;
    background-color: rgb(120, 120, 207);
    margin-top: 30px;
}
.thirdBlock{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: 2px solid red;
    background-color: rgb(120, 120, 207);
    margin-top: 30px;
}
.element{
    width: 25%;
    height: 70px;
    background-color: aqua;
    border: 2px solid red;
}
@media(max-width: 320px){
    .mainBlock{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nameBlock{
        width: 100%;
        height: 70px;
        border: 2px solid red;
        background-color: rgb(120, 120, 207);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name{
        width: 80%;
        height: 45px;
        background-color: aqua;
        border: 3px solid green;
    }
    .fotoBlock{
        width: 100%;
        height: 310px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        margin-top: 20px;
    }
    .foto{
        width: 29%;
        height: 80px;
        border: 2px solid black;
        background-color: pink(120, 120, 207);
    }
    .firstBlock{
        width: 100%;
        height: 220px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        border: 2px solid red;
        background-color:brown 207);
        margin-top: 20px;
    }
    .picture{
        width: 30%;
        height: 90px;
        background-color: yellow;
        border: 2px solid red;
    }
    .secondBlock{
        width: 100%;
        height: 70px;
        border: 2px solid red;
        background-color: rgb(120, 120, 207);
        margin-top: 30px;
    }
    .thirdBlock{
        width: 100%;
        height: 260px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        border: 2px solid green;
        background-color: rgb(120, 120, 207);
        margin-top: 30px;
    }
    .element{
        width: 25%;
        height: 70px;
        background-color: blue;
        border: 2px solid red;
    }

}